<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/users']"
      ><mat-icon>list</mat-icon></a
    >
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title
        ><h2>{{ user.nombre }}</h2></mat-card-title
      >
      <mat-card-subtitle>{{ user.usuUsuario }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Tipo de Usuario:</dt>
        <dd>{{ user.tiusId }}</dd>
        <dt>Identificación:</dt>
        <dd>{{ user.identificacion }}</dd>
        <dt>Clave:</dt>
        <dd>{{ user.clave }}</dd>
        <dt>Estado:</dt>
        <dd>{{ user.activo }}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a
        mat-flat-button
        color="primary"
        [routerLink]="['/user-edit', user.usuUsuario]"
        ><mat-icon>edit</mat-icon></a
      >
      <a mat-flat-button color="warn" (click)="deleteUser(user.usuUsuario)"
        ><mat-icon>delete</mat-icon></a
      >
    </mat-card-actions>
  </mat-card>
</div>
