<div class="example-loading-shade" *ngIf="isLoadingResults">
  <mat-spinner style="margin: 0 auto" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div [hidden]="isLoadingResults">
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/user-type-add']"
      ><mat-icon>add</mat-icon></a
    >
  </div>
  <mat-form-field style="width: 100%">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filter"
    />
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <!-- tiusId Column -->
      <ng-container matColumnDef="tiusId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Cod. Tipo Usuario
        </th>
        <td mat-cell *matCellDef="let element">{{ element.tiusId }}</td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="activo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
        <td mat-cell *matCellDef="let element">{{ element.activo }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        [routerLink]="['/user-type-details/', element.tiusId]"
      ></tr>
    </table>

    <mat-paginator
      n
      [pageSizeOptions]="[10, 20, 30]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
