<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Editar Usuario</h4>
            <p class="card-category">
              Complete el formulario para editar el usuario.
            </p>
          </div>
          <div class="card-body">
            <form
              [formGroup]="userForm"
              (ngSubmit)="onFormSubmit(userForm.value)"
            >
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field
                    class="example-full-width"
                    style="display: block"
                  >
                    <input
                      matInput
                      placeholder="Cod. Usuario"
                      formControlName="usuUsuario"
                      [errorStateMatcher]="matcher"
                    />
                    <mat-error>
                      <span
                        *ngIf="
                          !userForm.get('usuUsuario').valid &&
                          userForm.get('usuUsuario').touched
                        "
                        >Por favor introduzca un código de usuario</span
                      >
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field
                    class="example-full-width"
                    style="display: block"
                  >
                    <input
                      matInput
                      placeholder="Nombre"
                      formControlName="nombre"
                      [errorStateMatcher]="matcher"
                    />
                    <mat-error>
                      <span
                        *ngIf="
                          !userForm.get('nombre').valid &&
                          userForm.get('nombre').touched
                        "
                        >Pro favor introduzca un nombre</span
                      >
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field
                    class="example-full-width"
                    style="display: block"
                  >
                    <input
                      matInput
                      type="number"
                      placeholder="Identificación"
                      formControlName="identificacion"
                      [errorStateMatcher]="matcher"
                    />
                    <mat-error>
                      <span
                        *ngIf="
                          !userForm.get('identificacion').valid &&
                          userForm.get('identificacion').touched
                        "
                        >Por favor introduzca un número de identificación</span
                      >
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field
                    class="example-full-width"
                    style="display: block"
                  >
                    <input
                      matInput
                      type="password"
                      placeholder="Clave"
                      formControlName="clave"
                      [errorStateMatcher]="matcher"
                    />
                    <mat-error>
                      <span
                        *ngIf="
                          !userForm.get('clave').valid &&
                          userForm.get('clave').touched
                        "
                        >Por favor introduzca una clave</span
                      >
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field style="display: block">
                    <mat-label>Estado</mat-label>
                    <mat-select [formControl]="userForm.get('activo')" required>
                      <mat-option>--</mat-option>
                      <mat-option
                        *ngFor="let state of activoSelect"
                        [value]="state.value"
                      >
                        {{ state.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="userForm.get('activo').hasError('required')"
                      >Por favor selecciona un estado</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field style="display: block">
                    <mat-label>Tipo Usuario</mat-label>
                    <mat-select [formControl]="userForm.get('tiusId')" required>
                      <mat-option>--</mat-option>
                      <mat-option
                        *ngFor="let userType of userTypes"
                        [value]="userType.tiusId"
                      >
                        {{ userType.nombre }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="userForm.get('tiusId').hasError('required')"
                      >Por favor selecciona un tipo de documento</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <button
                [routerLink]="['/users']"
                class="btn btn-primary pull-left"
                style="background-color: #d50000 !important; border-color: #d50000 !important;"
              >
                Descartar
              </button>
              <button
                type="submit"
                [disabled]="!userForm.valid"
                class="btn btn-primary pull-right"
                style="background-color: #9c27b0 !important; border-color: #9c27b0 !important;"
              >
                Actualizar
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
