<div>
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="button-row">
            <a mat-flat-button color="primary" [routerLink]="['/user-types']">
              <mat-icon>list</mat-icon> Volver
            </a>
          </div>
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Detalle</h4>
              <p class="card-category">Info del tipo de usuario</p>
            </div>
            <div class="card-body">
              <form class="example-form">
                <mat-form-field class="userTypeDetailInputs">
                  <input
                    [readonly]="true"
                    matInput
                    placeholder="Descripción:"
                    value="{{ userType.nombre }}"
                  />
                </mat-form-field>

                <mat-form-field class="userTypeDetailInputs">
                  <input
                    [readonly]="true"
                    matInput
                    placeholder="Estado:"
                    value="{{ userType.activo | stateToHumanReadable }}"
                  />
                </mat-form-field>

                <div class="row">
                  <div class="col-md-12">
                    <mat-card-actions class="button-row">
                      <a
                        class="userTypeDetailInputs"
                        mat-flat-button
                        color="primary"
                        [routerLink]="['/document-type-edit', userType.tiusId]"
                      >
                        <mat-icon>edit</mat-icon>
                      </a>
                      <a
                        class="userTypeDetailInputs"
                        mat-flat-button
                        color="warn"
                        (click)="deleteUserType(userType.tiusId)"
                      >
                        <mat-icon>delete</mat-icon>
                      </a>
                    </mat-card-actions>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
