<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/user-types']"
      ><mat-icon>list</mat-icon></a
    >
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title
        ><h2>{{ userType.nombre }}</h2></mat-card-title
      >
      <mat-card-subtitle>Activo: {{ userType.activo }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a
        mat-flat-button
        color="primary"
        [routerLink]="['/user-type-edit', userType.tiusId]"
        ><mat-icon>edit</mat-icon></a
      >
      <a
        mat-flat-button
        color="warn"
        (click)="deleteDocumentType(userType.tiusId)"
        ><mat-icon>delete</mat-icon></a
      >
    </mat-card-actions>
  </mat-card>
</div>
