<div>
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="button-row">
            <a mat-flat-button color="primary" [routerLink]="['/clients']">
              <mat-icon>list</mat-icon> Volver
            </a>
          </div>
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">{{ client.nombre }}</h4>
              <p class="card-category">Email: {{ client.email }}</p>
            </div>
            <div class="card-body">
              <form class="example-form">
                <mat-form-field class="clientDetailInputs">
                  <input
                    [readonly]="true"
                    matInput
                    placeholder="Cod Cliente:"
                    value="{{ client.clieId }}"
                  />
                </mat-form-field>

                <mat-form-field class="clientDetailInputs">
                  <input
                    [readonly]="true"
                    matInput
                    placeholder="Teléfono:"
                    value="{{ client.telefono }}"
                  />
                </mat-form-field>

                <mat-form-field class="clientDetailInputs">
                  <input
                    [readonly]="true"
                    matInput
                    placeholder="Dirección:"
                    value="{{ client.direccion }}"
                  />
                </mat-form-field>

                <mat-form-field class="clientDetailInputs">
                  <input
                    [readonly]="true"
                    matInput
                    placeholder="Estado:"
                    value="{{ client.activo | stateToHumanReadable }}"
                  />
                </mat-form-field>

                <div class="row">
                  <div class="col-md-12">
                    <mat-card-actions class="button-row">
                      <a
                        class="clientDetailInputs"
                        mat-flat-button
                        color="primary"
                        [routerLink]="['/client-edit', client.clieId]"
                      >
                        <mat-icon>edit</mat-icon>
                      </a>
                      <a
                        class="clientDetailInputs"
                        mat-flat-button
                        color="warn"
                        (click)="deleteClient(client.clieId)"
                      >
                        <mat-icon>delete</mat-icon>
                      </a>
                    </mat-card-actions>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
