.prueba {
  position: absolute;
  right: 0;
  top: -12px;
  border: 0;
}

.mat-button-toggle-appearance-standard:hover {
  background: none !important;
}
.prueba .mat-button-toggle-focus-overlay {
  background: none !important;
}
